body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.popup-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

form label {
  display: block;
  margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
}

form textarea {
  height: 100px;
}

form label[for="email"] {
  margin-top: 20px;
}

form label input[type="checkbox"] {
  margin-right: 10px;
}

form button {
  background-color: #ff3366;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}

form button:hover {
  background-color: #ff3366;
}

/* contact us section */
.contactus {
  width: 160vh;
  height: 80vh;
  margin: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 15vh;
}

.image1 {
  height: 500px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.textHeadsmall {
  color: #ff3366;
  font-weight: 600;
  font-size: 24px;
}

.headBig {
  font-weight: 900;
  font-size: 32px;
  margin-top: 0%;
}

.headinfosmall {
  font-weight: 100;
  font-size: 14px;
  width: 70vh;
}

.getButton {
  margin-top: 4%;
  background-color: #ff3366;
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 2%;
  margin-left: 3%;
  color: white;
  cursor: pointer;
}

.getButton:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/*contact form*/
.showOnEnter {
  visibility: hidden;
  transition: opacity 0.3s ease-in;
  font-size: 14px;
  color: #5c5b5b;
}

.nameContact {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  margin-top: 0%;
}
.na {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}

input[type="submit"] {
  background-color: #ff3366;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: 15px;
}

/* slidr sectiion */
.section {
  padding: 2%;
  height: fit-content;
  margin-top: 4%;
  width: 160vh;
  margin: 10vh;
}


.slide{
  height: 400px;
}
.slide img {
  height: 400px;
  z-index: 1;
}

.inner {
  display: flex;
  flex-direction: row;
  width: 150vh;
  padding: 1%;
}

.design-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3366;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
  align-content: center;
}

.design-content .content .icon {
  height: 4%;
}

.design-content .content .arrow{
  height: 4%;
}


.slide:hover .design-content {
  display: block;
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3%;
}

.headContent {
  font-size: 18px;
  font-weight: 100;
  color: white;
}

.descContent {
  color: white;
  font-size: 14px;
}

.contentBut {
  margin-top: 6%;
  background-color: white;
  color: #ff3366;
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 4%;
}

.slider {
  position: relative;
  max-width: 200vh;
  max-height: 80vh;
  overflow: hidden;
}

.slides {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: transform 0.5s ease-in-out;
}

.slid1,
.slid2,
.slid3 {
  border: 1px solid black;
  margin-left: 2%;
  margin-right: 2%;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: transform 0.5s ease-in-out;
  box-sizing: border-box;
  position: relative;

  margin-right: 2%;
}

.navigation {
  bottom: 20px;
  left: 20px;
  top: 10px;
  display: flex;
  width: 18vh;
  height: 6vh;
  margin-top: 2%;
}

.active {
  border: 1px solid #ff3366;
}

.dot {
  width: 4vh;
  border-radius: 50%;
  margin-right: 2%;
  padding: 5%;
  align-items: center;
  cursor: pointer;
}

.dot img {
  margin-left: 32%;
  margin-top: 32%;
}

/* we are best sction*/
.section1 {
  margin-right: 15vh;
  margin-left: 15vh;
  padding: 2%;
}

.centerAlign {
  text-align: center;
}

.flexgrrowth {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.new {
  margin: 3%;
  align-items: center;
}

.new:hover {
  box-shadow: 0 8px 16px rgba(151, 149, 149, 0.842);
}

.heading {
  font-weight: 700;
}

/* menulist */

.listImg {
  display: flex;
  flex-direction: row;
}

.imgproject {
  width: 170vh;
  height: 70vh;
  margin-right: 3%;
  background-repeat: no-repeat;
  border-radius: 3%;
}

.flexcol .selected {
  background-color: #ff3366;
  color: white;
}

.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flxCol {
  background-color: #f6f6f6;
  padding: 5.5%;
}

.headtitle {
  font-weight: 800;
}

/*growth*/
.no {
  font-size: 34px;
  margin-left: 15%;
}

.new1 {
  margin: 3%;
  align-items: center;
}

.no:hover {
  font-size: 36px;
  font-weight: bold;
}

.subinfo:hover {
  font-size: 12px;
}

.hover img {
  margin-left: 30%;
}

.hover {
  padding: 12px;
  width: 25vh;
  align-content: center;
  background-color: #ffffff;
  transition: box-shadow 0.5s ease;
}

.hover:hover {
  box-shadow: 0 8px 16px rgba(151, 149, 149, 0.842);
}

.black {
  background-color: #f7f7f7;
  margin: 0%;
}

/*say section */

.say {
  display: flex;
  flex-direction: column;
  width: 130vh;
  margin-left: 45vh;
}

.banner {
  background-image: url("./Images/Copy.png");
  padding-top: 5%;
  padding-bottom: 5%;
}


.fedback{
  height: fit-content;
}

.said {
  display: flex;
  flex-direction: row;
}

.said .namesaid {
  color: #ff3366;
  font-weight: 700;
}

.said .from {
  margin-left: 2%;
}

.banner img {
  margin-left: 5%;
}



@media screen and (max-width: 450px) {
  body {
    width: 97%;
  }

  .section {
    width: 100%;
    height: 40%;
    margin: 0%;
    padding: 2%;
  }

  .contactus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .info {
    width: 55%;
    overflow-wrap: break-word;
  }

  .image {
    padding-right: 5%;
    margin-top: 15%;
  }

  .image1 {
    height: 230px;
    margin-left: 0%;
  }

  .textHeadsmall {
    font-weight: 600;
    font-size: 12px;
  }

  .headBig {
    font-weight: 600;
    font-size: 18px;
    width: fit-content;
    overflow-wrap: break-word;
  }

  .headinfosmall {
    font-size: 12px;
    width: 100%;
  }

  .information {
    font-size: 16px;
  }

  .inner {
    display: flex;
    flex-direction: column;
    width: 150%;
    overflow-wrap: break-word;
  }


  .design-content {
    width: 100%;
    height: 45%;
    padding: 0%;
  }

  .headContent {
    font-size: 12px;
  }

  .contentBut {
    margin-top: 2%;
    font-size: 10px;
    padding: 2%;
  }

  .descContent{
    height: 1%;
    overflow: hidden;
    font-size: 10px;
  }
  
  .design-content .content .icon {
    width: 20%;
  }
  
  .design-content .content .arrow{
    height: 2%;
  }

  .flexscroll {
    width: 90%;
  }

  .slide {
    width: 100%;
  }

  .slide img {
    height: 180px;
  }

  .dot {
    width: 2vh;
    height: 2.3vh;
    margin-top: 2%;
    border-radius: 50%;
    margin-right: 2%;
    padding: 5%;
    align-items: center;
    cursor: pointer;
  }

  .navigation img {
    height: 10px;
  }

  .centerAlign {
    text-align: left;
  }

  .achivements {
    height: fit-content;
  }

  .flexgrrowth {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 10px;
    width: 90%;
    margin: 0.5vh 0.5vh;
    padding: 20px;
    justify-content: space-around;
    height: fit-content;
    overflow-y: visible;
  }

  .new {
    padding: 5%;
  }
  .new:hover {
    box-shadow: 0 8px 16px rgba(151, 149, 149, 0.842);
  }

  .new img {
    width: 50px;
    margin-left: 25%;
  }

  .menulist {
    height: fit-content;
    margin-bottom: 5%;
  }

  .listImg {
    display: flex;
    flex-direction: column;
  }

  .imgproject {
    width: 80%;
    height: 30vh;
    margin-left: 10%;
    margin-right: 3%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3%;
  }
  .flxCol {
    padding: 1.5%;
  }

  .growth {
    width: 100%;
    margin: 0%;
  }

  .new1 {
    margin: 0.5%;
  }

  .no {
    font-size: 24px;
    margin-left: 1%;
    text-align: center;
  }

  .no:hover {
    font-size: 26px;
    font-weight: bold;
  }

  .hover img {
    margin-left: 30%;
  }

  .hover {
    padding: 12px;
    width: 75%;
    align-content: center;
    background-color: #ffffff;
    transition: box-shadow 0.5s ease;
  }

  .subinfo {
    text-align: center;
  }

  .fedback {
    width: 100%;
    margin: 0%;
    height: fit-content;
  }

  .say {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0%;

    padding: 0%;
  }

  .said {
    font-size: 12px;
  }

  .banner {
    width: 100%;
  }
  .banner img {
    margin: 0%;
    width: 98%;
  }
}

@media screen and (min-width: 451px) and (max-width: 850px) {
  body {
    width: 97%;
  }


  .section {
    width: 100%;
    height: 50%;
    margin: 0%;
    padding: 2%;
  }

  .contactus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .info {
    width: 55%;
    overflow-wrap: break-word;
  }

  .image {
    padding-right: 5%;
    margin-top: 15%;
  }

  .image1 {
    height: 230px;
    margin-left: 0%;
  }

  .textHeadsmall {
    font-weight: 600;
    font-size: 12px;
  }

  .headBig {
    font-weight: 600;
    font-size: 18px;
    width: fit-content;
    overflow-wrap: break-word;
  }

  .headinfosmall {
    font-size: 12px;
    width: 100%;
  }

  .information {
    font-size: 16px;
  }

  .inner {
    display: flex;
    flex-direction: column;
    width: 150%;
    overflow-wrap: break-word;
  }

  .flexscroll {
    width: 90%;
  }

  .slide {
    width: 100%;
  }

  .slide img {
    height: 180px;
  }

  .dot {
    width: 2vh;
    height: 2.3vh;
    margin-top: 2%;
    border-radius: 50%;
    margin-right: 2%;
    padding: 5%;
    align-items: center;
    cursor: pointer;
  }

  .navigation img {
    height: 10px;
  }

  .centerAlign {
    text-align: left;
  }

  .achivements {
    height: fit-content;
  }

  .flexgrrowth {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 10px;
    width: 90%;
    margin: 0.5vh 0.5vh;
    padding: 20px;
    justify-content: space-around;
    height: fit-content;
    overflow-y: visible;
  }

  .new {
    padding: 5%;
  }
  .new:hover {
    box-shadow: 0 8px 16px rgba(151, 149, 149, 0.842);
  }

  .new img {
    width: 50px;
    margin-left: 25%;
  }

  .menulist {
    height: fit-content;
    margin-bottom: 5%;
  }

  .listImg {
    display: flex;
    flex-direction: column;
  }

  .imgproject {
    width: 80%;
    height: 30vh;
    margin-left: 15%;
    margin-right: 3%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3%;
  }
  .flxCol {
    padding: 1.5%;
  }

  .growth {
    width: 100%;
    margin: 0%;
  }

  .new1 {
    margin: 0.5%;
  }

  .no {
    font-size: 24px;
    margin-left: 1%;
    text-align: center;
  }

  .no:hover {
    font-size: 26px;
    font-weight: bold;
  }

  .hover img {
    margin-left: 30%;
  }

  .hover {
    padding: 12px;
    width: 75%;
    align-content: center;
    background-color: #ffffff;
    transition: box-shadow 0.5s ease;
  }

  .subinfo {
    text-align: center;
  }

  .fedback {
    width: 100%;
    margin: 0%;
  }

  .say {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0%;

    padding: 0%;
  }

  .said {
    font-size: 12px;
  }

  .banner {
    width: 100%;
  }
  .banner img {
    margin: 0%;
    width: 98%;
  }
}
